@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="ddApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <base href="/">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <!--<li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>-->
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <div class="content">
            <a href="/pr/add">Add</a>
            <div ng-view></div>
        </div>

    </div><!-- /.container -->
    @Styles.Render("~/bundles/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")

    <script type="text/javascript">
        $(document).ready(function () {
            if (!cookieExists("_timeZoneOffset")) {
                var now = new Date();
                var timeZoneOffset = -now.getTimezoneOffset(); // in minutes
                now.setTime(now.getTime() + 10 * 24 * 60 * 60 * 1000); // keep it for 10 days
                document.cookie = "_timeZoneOffset=" + timeZoneOffset.toString() + ";expires=" + now.toGMTString() + ";path=/;" + document.cookie;
            }
        });

        function cookieExists(name) {
            var nameToFind = name + "=";
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                if (cookies[i].trim().indexOf(nameToFind) === 0) return true;
            }
            return false;
        }
    </script>
</body>
</html>
